html{
    box-sizing: border-box;
}

*, *::before,*::after{
    box-sizing: inherit;
}

body{   
    overflow-x: hidden;    
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

/*CONTENEDOR*/
.contenedor{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}

.seccion{
    padding: 30px 0;
}
.seccion p{
    font-size: 30px;
    text-align: center;
}

.seccion p > span{
    font-size: 35px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-family: sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    
}

h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../images/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

/*BANNER*/
header{    
    width: 100%; 
    height: 100%; 
    margin-bottom: 5px;   
    background:#353535;  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header h1{
    width: 60%;
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
    font-family: sans-serif;
}

/*MENU*/
nav{     
    width: 40%;    
}

nav a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding:  25px;
    float: right;
    margin-right: 50px;
    font-family: sans-serif;   
    transition: all .6s ease;

}

nav a:hover{
    background-color: #fe4918;  
}

/*GALERIA*/

.galeria a{    
    display: inline-block;
    margin-bottom: 5px;      
    margin: 4px;
}

.gallery-container{
    width: 80%;
    margin:100px auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 250px);
}

.gallery-card{
    overflow: hidden;
}

.gallery-card a{
    width: 100%;
    height: 100%;
}

.gallery-card a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-card a > img:hover{
    transform: scale(1.5) rotate(30deg);
}

/*PIE*/
footer{
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20PX;     
    padding: 10px;
    background: #353535; 
}